spring:
  application:
    name: finance-stream-service
  profiles:
    active: finance_stream_service
  cloud:
    config:
      name: finance-stream-service,config-client
      uri: http://localhost:8888
      enabled: true
      username: spring_cloud_user
      password: spring_cloud_password
  config:
    import: configserver:http://localhost:8888